<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Réservation</title>
</head>
<body>
    <h1>Détails de la Réservation</h1>
    
    <% if (Reservations) { %>
        <p><strong>ID :</strong> <%= Reservations._id %></p>
        <p><strong>Numéro du Catway :</strong> <%= reservations.catwayNumber %></p>
        <p><strong>Nom du Client :</strong> <%= reservations.clientName %></p>
        <p><strong>Nom du Bateau :</strong> <%= reservations.boatName %></p>
        <p><strong>Date d'Arrivée :</strong> <%= reservations.checkIn.toDateString() %></p>
        <p><strong>Date de Départ :</strong> <%= reservations.checkOut.toDateString() %></p>
    <% } else { %>
        <p>Réservation non trouvée.</p>
    <% } %>

    <a href="/reservations">Retour à la liste des Réservations</a>
</body>
</html>
