<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
</head>
<body>
    <h1>Liste des Réservations</h1>

    <% if (reservations.length > 0) { %>
        <ul>
            <% reservations.forEach(reservations => { %>
                <li>
                    <a href="/reservations/details/<%= reservations._id %>">
                        Reservations <%= reservations.catwayNumber %> - Nom du client: <%= reservations.clientName %> - Nom du bateau: <%= reservations.boatName %> 
                        - Début réservation: <%= reservations.checkIn %> - Fin réservation: <%= reservations.checkOut %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucune réservations trouvé.</p>
    <% } %>

    <a href="/">Retour au tableau de bord</a>
</body>
</html>
