<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
</head>
<body>
    <h1>Liste des Réservations</h1>

    <% if (reservation.length > 0) { %> 
        <ul>
            <% reservation.forEach(reservation => { %> 
                <li>
                    <a href="/reservations/details/<%= reservation._id %>">
                        Réservation du Catway <%= reservation.catwayNumber %> - Nom du client: <%= reservation.clientName %> - Nom du bateau: <%= reservation.boatName %>
                        - Début réservation: <%= reservation.checkIn.toDateString() %> - Fin réservation: <%= reservation.checkOut.toDateString() %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucune réservation trouvée.</p>
    <% } %>

    <a href="/">Retour au tableau de bord</a>
</body>
</html>
